:root {
  --color-white: white;
  --color-lightGray: #f2f2f2;
  --color-vertLightGray: #f8f8f8;

  --color-cccccc: #cccccc;

  --color-brightGary: #f3f3f3;
  --color-veryPaleGary: #eeeeee;

  --color-black: #1f1f1faf;
  --font-24: 30px;

  --fontW-normal: 400;
}
