.shortsMain{
  box-sizing: border-box;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 60px;
  padding-left: 100px;
}
.shortsSection{
  display: flex;
  align-items: center;
  height: 100vh;
}
/* shortsLeft */
.shortsLeft{
  position: relative;
  width: 450px;
  height: 800px;
  display: flex;
  flex-direction: column;
}
.top{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 15px 25px;

  display: flex;
  justify-content: space-between;

  color: white;
}

.mid{
  width: 100%;
  height: 100%;
  z-index: -1;

}
.mainImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
  border-radius: 10px;
}

.bottom{
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;

  margin: 0 0 5% 5%;
  color: white;
}
.shortsTitle{
  font-weight: bold;
  margin: 10px 0;
}
.shortsText{
  font-weight: bold;
}

/* /shortsLeft */

/* shortsRight */
.shortsRight{
  margin-left: 15px;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.shortsSideIcon{
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 25px;

  border-radius: 50%;

  transition: all .2s ease-in-out;

  cursor: pointer;
}
.ShortsSideImgDiv{
  display: flex;

  cursor: pointer;
}
.shortsSideImg{
  width: 30px;
  height: 30px;
}
.iconTitle{
  display: flex;
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 2px;
}
.iconText{
  opacity: 0;
  position: absolute;
  width: max-content;
  height: 50%;
  padding: 0 10px;

  white-space: nowrap;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  top: 50%;
  right: 135%;

  transform: translate(0, -50%);

  font-size: 14px;
  color: white;

  transition: all .2s ease-in-out;
  background-color: #262626ff;
  border-radius: 10px;
}